output_images
data
saved_models
saved_models_vgg
saved_models_15
saved_models_31
saved_models_37
saved_models_FID
saved_models_15_1897
saved_models_important
output_altered_images
synthetic_saved_models
